body {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: rgb(26, 25, 28);
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background: rgba(188, 212, 245, 0.85); /* Slightly transparent white background */
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #9fb4bf;
    backdrop-filter: blur(1px); /* Gives a subtle blur effect for background */
}

.results {
    background: #c3ebd9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    color: #333;
}

.results p {
    margin: 0;
    line-height: 1.6;
}


    
